{{#section 'head'}}

{{/section}}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>{{#if product}}Edit Product{{else}}Create Product{{/if}}</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                {{> admin/breadcrumbs}}
            </div>
        </div>
    </div>
    <div id="show-error">
        {{> message/message}}
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <form {{#if product}} action="/admin/product/update/{{product._id}}?_method=PUT" {{else}}
                    action="/admin/product/store" {{/if}} method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control
                                            {{!-- is-invalid --}}" name="name" id="name" {{#if product}}
                                    value="{{product.name}}" {{/if}} placeholder="Enter name">
                                {{!-- <div class="invalid-feedback">
                                    <i class="bx bx-radio-circle"></i>
                                    {{msg}}
                                </div> --}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="text" onkeypress="return /\d/.test(String.fromCharCode(event.keyCode || event.which))" class="form-control    
                                        {{!-- is-invalid --}}" name="price" id="price" placeholder="Enter price" {{#if
                                    product}} value="{{product.price}}" {{/if}}>
                                {{!-- <div class="invalid-feedback">
                                    <i class="bx bx-radio-circle"></i>
                                    {{msg}}
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Description</label>
                            <textarea id="editor" name="description" class="form-control" {{#if product}}
                                value="{{product.description}}" {{/if}}>
                            </textarea>
                            {{!-- {{#with errors as | errors |}}
                            {{#ifEquals param "description"}}
                            <div class="invalid-feedback">
                                <i class="bx bx-radio-circle"></i>
                                {{msg}}
                            </div>
                            {{/ifEquals}}
                            {{/with}} --}}
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6">
                            <label for="brand">Brand</label>
                            <select class="form-select" id="brand" name="brand">
                                {{#each listBrand as | brand |}}
                                <option {{#if this.selected}} selected {{/if}} value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <button type="submit" class="btn-primary btn">Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
</div>
{{#section 'script'}}
<script src="/admin/assets/vendors/ckeditor/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
{{/section}}