{{#section 'head'}}
   
{{/section}}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Product</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
               {{> admin/breadcrumbs}}
            </div>
        </div>
        <div class="d-flex justify-content-end mb-3">
            <a href="" class="btn-primary btn">Creatd Product</a>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
               <div class="d-flex">
                    <div class="form-check">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input form-check-primary" name="checkAll" id="check-all">
                            <label for="check-all">Check all</label>
                        </div>
                    </div>
                    <div class="ms-4" id="icon-delete">
                        <i class="fa fa-trash-alt cursor" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Delete selected item"></i>
                    </div>
               </div>

                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle me-1" type="button"
                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        -- Select sort --
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Sort A-Z</a>
                        <a class="dropdown-item" href="#">Sort Z-A</a>
                        <a class="dropdown-item" href="#">Price max-min</a>
                        <a class="dropdown-item" href="#">Price min-max</a>
                        <a class="dropdown-item" href="#">Lasted product</a>
                    </div>

                    {{!-- <button class="btn btn-primary">Apply</button>  --}}
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.listProduct}}
                            <tr>    
                                <td> 
                                    <div class="form-check">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="listCheckbox[]" class="form-check-input form-check-primary" value="{{ this._id }}">
                                        </div>
                                    </div>
                                </td>
                                <td>{{ this.name }}</td>
                                <td>{{ this.brand.name}}</td>
                                <td>{{ this.price }}</td>
                                <td>{{ this.rating_star }}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-primary  justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </section>
</div>
{{#section 'script'}}
    
{{/section}}
