{{#if success}}
    <div class="alert alert-success alert-dismissible show fade">
        {{success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}
{{#if error}}
<div class="alert alert-danger alert-dismissible show fade">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if warning}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{warning}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if info}}
<div class="alert alert-info alert-dismissible show fade">
    {{info}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if errors}}
<div class="alert alert-danger alert-dismissible show fade">
    <ul class="ul-message-errors">
        {{#each errors}}
        <li>{{this.msg}}</li>
        {{/each}}
    </ul>
    <button type="button" class="btn-close btn-message-errors" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}